<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    <h1>请登陆</h1>

    <form action="/checklogin" method="get" enctype="text/plain">

        <p>
            用户名:<input type="text" name="name" />
        </p>

        <p>
            密码：<input type="password" name="pass">
        </p>

        <input type="submit" value="tijiao">

    </form>

</body>
</html>