<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		
		<h1>修改</h1>
		
		<form action="/doadd" method="get">
			
			<p>
				书名：<input type="text" name="name" value="<%=name%>" />	
			</p>

			<p>
				作者：<input type="text" name="author" value="<%=author%>" />	
			</p>

			<p>
				价格：<input type="text" name="price" value="<%=price%>" />	
			</p>

			
			<input type="submit" value="提交"/>
		</form>
		
	</body>
</html>